.paper {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 8px
}

.controls {
  margin-top: 8px;
}

.style {
  color: red;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.blue {
  color: rgb(55, 134, 252);
}

.magenta {
  color: rgb(255, 66, 230);
}
