:root { --primaryColor: #1b1d22; }

::selection { background-color: #f5f5f5; }

* {
	margin: 0px;
	padding: 0px;
	font-family: "Roboto", Arial, sans-serif;
	color: var(--primaryColor);
}

body { overflow: hidden; }

a {
	color: #207fff;
	
	text-decoration: none;
	
	transition-property: color;
	transition-duration: 0.3s;
}

a:hover { color: #71adff }

ol { margin: 0px 0px 15px 40px; }

/*---------[Header]---------*/
header {
	height: 100vh;
	padding: 200px 10vw;
	
	border-bottom: 8px solid #969696;
	
	background-color: #d3d3d3;
	background: radial-gradient(#fdfdfd, #b4b4b4);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	
	text-align: center;
	
	transition-property: height, padding;
	transition-duration: 0.5s;
	transition-delay: 0.5s;
	z-index: 2;
}

header h1 {
	font-size: 50px;
	text-shadow: 0px 1px 0.8px rgba(0, 0, 0, 0.5);
}

header img {
	width: 300px;
	margin-top: 0px;
	
	filter: drop-shadow();
	
	animation-name: imgFade;
	animation-duration: 1s;
	
	transition-property: width, margin-top;
	transition-duration: 0.5s;
	transition-delay: 0.5s;
}

@keyframes imgFade {
	from {
		margin-top: -50px;
		opacity: 0;
	}
	
	to {
		margin-top: 0px;
		opacity: 1;
	}
}

/*---------[Main]----------*/

main {
	display: none;
	margin: 1vh 10vw;
	padding: 2vw 10vw;
	
	border-radius: 5px;
	
	background-color: #ededed;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
	
	z-index: 1;
}

article { margin-bottom: 60px;}

h1, h2, h3, h4, h5, h6 { margin-bottom: 0.6em; }

p {
	margin-bottom: 0.6em;
	
	text-align: justify;
}

fieldset {
	padding: 0px 15px;
	margin-bottom: 10px;
}

/*---------[Table]----------*/
table {
	margin: auto;
	
	border-collapse: collapse;
	
	margin-bottom: 20px;
}

table td, table th { padding: 10px; }

table caption { margin-bottom: 10px;}

/*---------[Code]----------*/
div.code {
	padding: 25px 20px;
	margin-bottom: 15px;
	min-height: 25px;
	
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	
	background-color: white;
	
	line-height: 1.5rem;
	white-space: pre;
	font-family: consolas, sans-serif;
}

div.code span.key { color: #3f6cff; }
div.code span.prop { color: #a33fff; }
div.code span.value { color: #ff5725; }

code {
	background-color: #dbdbdb;
	color: gray;
}

/*----------[Footer]----------*/
footer {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100px;
	
	background-color: var(--primaryColor);
	
	overflow: hidden;
}

footer div.col {
	flex: 1;
	
	color: white;
	
	text-align: center;
}

footer div.col a { color: white; }

p#loopTyping { height: 20px; }