* {
	margin: 0px;
	padding: 0px;
	font-family: Arial, sans-serif;
}

body { overflow: hidden; }

/*---------[Header]---------*/
header {
	height: 100vh;
	padding: 200px 10vw;
	
	border-bottom: 8px solid #969696;
	
	background-color: #d3d3d3;
	background: radial-gradient(#fdfdfd, #b4b4b4);
	
	text-align: center;
	
	transition-property: height, padding;
	transition-duration: 0.5s;
	transition-delay: 0.5s;
}

header h1 {
	font-size: 50px;
	text-shadow: 0px 3px 0.8px rgba(0, 0, 0, 0.5);
}

header img {
	width: 300px;
	margin-top: 0px;
	
	filter: drop-shadow();
	
	animation-name: imgFade;
	animation-duration: 1s;
	
	transition-property: width, margin-top;
	transition-duration: 0.5s;
	transition-delay: 0.5s;
}

@keyframes imgFade {
	from {
		margin-top: -50px;
		opacity: 0;
	}
	
	to {
		margin-top: 0px;
		opacity: 1;
	}
}

/*---------[Main]----------*/
main {
	display: none;
	padding: 5vw;
}

main section {
	padding: 10px;
	margin: 20px auto;
	max-width: 1000px;
	
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	
	box-sizing: border-box;
}

main section div.header {
	display: flex;
	margin-bottom: 20px;
}

div.header div.col { flex: 2; }

code {
	display: inline-block;
	padding: 5px;
	
	background-color: #dddddd;
	color: #909090;
	
	font-weight: bold;
}

table {
	margin: auto;
	max-width: 1000px;
	
	border-collapse: collapse;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 3px;
}

table tr td, table tr th { padding: 5px; }

table caption {
	margin-bottom: 5px;	
}

button {
	padding: 10px;
	float: right;
	
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	
	cursor: pointer;
	
	transition-property: background-color;
	transition-duration: 0.3s;
}

button:hover { background-color: #efefef; }

input[type='text'], input[type='number'] {
	margin-right: 5px;
	float: right;
	padding: 10px 5px;
	
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 3px;
}