* {
	margin: 0px;
	padding: 0px;
	font-family: Arial, sans-serif;
}

header {
	padding: 50px 10vw;
	
	background-color: #d3d3d3;
	
	font-size: 20px;
	text-align: center;
}

main { padding: 5vw; }

main section {
	padding: 10px;
	margin: 20px auto;
	max-width: 1000px;
	
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	
	box-sizing: border-box;
}

main section div.header {
	display: flex;
	margin-bottom: 20px;
}

div.header div.col { flex: 2; }

code {
	display: inline-block;
	padding: 5px;
	
	background-color: #dddddd;
	color: #909090;
	
	font-weight: bold;
}

table {
	margin: auto;
	max-width: 1000px;
	
	border-collapse: collapse;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 3px;
}

table tr td, table tr th { padding: 5px; }

table caption {
	margin-bottom: 5px;	
}

button {
	padding: 10px;
	float: right;
	
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	
	cursor: pointer;
	
	transition-property: background-color;
	transition-duration: 0.3s;
}

button:hover { background-color: #efefef; }

input[type='text'], input[type='number'] {
	margin-right: 5px;
	float: right;
	padding: 10px 5px;
	
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 3px;
}